.transparent-card {
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-alignment: center ;
    -fx-background-color: transparent;
}

.card-front {
    -fx-background-size: 100px 100px;
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-alignment: center;
}

.card-back {
    -fx-background-image: url("../pictures/back.jpg");
    -fx-background-size: 100px 100px;
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-alignment: center ;
}

#turn-label {
   -fx-padding: 10;
   -fx-alignment: center;
   -fx-font-size: 20;
}